:root {
}

#main-layout-container {
    grid-template-columns: 15% auto;
}

.warning {
    color: black;
    background-color: lightpink;
    border: 1px solid red;
}

.img-icon {
    border-radius: 0.15em;
    max-width: 30em;
    max-height: 5em;
}
