{% extends 'base.html' %} {% import 'components.html' as components %} {% block
header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %} {% block content %}
<form class="mt-6 w-full max-w-xs" method="post">
    <div class="mb-4">{{ components.input_group('username')}}</div>
    <div class="mb-6">
        {{ components.input_group('password', type='password')}}
    </div>
    <div class="flex items-center">
        <input
            type="submit"
            value="Log In"
            class="focus:shadow-outline text-md rounded bg-blue-500 p-1 px-4 py-2 text-white shadow hover:bg-blue-400"
        />
    </div>
</form>
{% endblock %}
