{% extends 'base.html' %} {% block header %}
<h1>
    {% block title %}{{request.input_file}} with {{request.model.name}}{%
    endblock %}
</h1>
{% endblock %} {% block content %}
<div class="mt-6 flex-col">
    <p class="mb-4">
        <a class="underline" href="{{ url_for('request.get') }}"
            >Back to Request List</a
        >
    </p>
    <p class="mb-4">
        <img src="{{url_for('send_uploaded_file', name=request.input_file)}}" />
    </p>
    <h2>Classification Probabilities</h2>
    <ul class="list-inside list-decimal">
        {% for prediction in request.output %}
        <li class="list-item">
            {{ prediction[1] }}: {{ (prediction[2].astype("float") * 100) |
            round | int }}%
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
