{% extends 'base.html' %} {% block header %}
<h1>
    {% block title %}{{request.input_file}} with {{request.model.name}}{%
    endblock %}
</h1>
{% endblock %} {% block content %}
<div>
    <p>
        <a href="{{ url_for('request.get') }}">Back to Request List</a>
    </p>
    <p>
        <img src="{{url_for('send_uploaded_file', name=request.input_file)}}" />
    </p>
    <h2>Classification Probabilities</h2>
    <ol>
        {% for prediction in request.output %}
        <li>
            {{ prediction[1] }}: {{ (prediction[2].astype("float") * 100) |
            round | int }}%
        </li>
        {% endfor %}
    </ol>
</div>
{% endblock %}
