{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Your Requests{% endblock %}</h1>
{% endblock %} {% block content %}
<div>
    {% include 'request/request_table.html' %}
    <h2>Create New Request</h2>
    <form method="post" enctype="multipart/form-data">
        <label>
            AI Model
            <select name="model" required>
                {% for model in models %}
                <option value="{{ model.public_id }}">{{model.name}}</option>
                {% endfor %}
            </select>
        </label>
        <label>
            Input File
            <input
                name="input"
                type="file"
                accept="image/png,image/jpeg"
                required
            />
            <small>Supported types: .jpg, .jpeg, .png</small></label
        >
        <input type="submit" value="Submit Request" />
    </form>
</div>
{% endblock %}
