{% macro input_group(name, value='', type='text') %}
<label class="mb-2 block text-sm font-bold text-gray-700" for="{{ name }}"
    >{{ name | title }}</label
>
<input
    class="mb-3 w-full appearance-none rounded border border-blue-500 px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
    type="{{ type }}"
    value="{{ value|e }}"
    name="{{ name }}"
    required
/>
{% endmacro %} {% macro select_group(name) %}
<label class="mb-2 block text-sm font-bold text-gray-700" for="{{ name }}">
    {{ name | title }}
</label>

<select
    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
    name="{{ name }}"
>
    {{ caller() }}
</select>
{% endmacro %} {% macro inputlabel(for) %}
<label class="mb-2 block text-sm font-bold text-gray-700" for="{{ for }}"
    >{{ for | title }}</label
>
{% endmacro %} {% macro table_header(headings) %}
<thead>
    <tr>
        {% for heading in headings %}
        <th>{{ heading | title }}</th>
        {% endfor %}
    </tr>
</thead>
{% endmacro %}
