{% extends 'base.html' %} {% block header %}
<h1>{% block title %}List of Users{% endblock %}</h1>
{% endblock %} {% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>Role</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user.name}}</td>
        <td>{{user.role.name}}</td>
        <td>
            <button
                hx-delete="{{ url_for('user.delete', public_id=user.public_id) }}"
                hx-confirm="Really delete this account?"
                hx-target="closest tr"
            >
                &#128465;
            </button>
        </td>
    </tr>
    {% endfor %}
</table>
<hr />
<h2 class="mb-6 text-lg font-bold">Create User</h2>
<form class="w-full max-w-xs" method="post">
    <div class="mb-4">{{ components.input_group('username') }}</div>
    <div class="mb-4">
        {{ components.input_group('password', type='password')}}
    </div>
    <div class="mb-6">
        {% call components.select_group('role') %} {%for role in roles%}
        <option value="{{role.name}}">{{role.name}}</option>
        {%endfor %} {% endcall %}
    </div>
    <div class="flex items-center">
        <input
            type="submit"
            value="Create User"
            class="focus:shadow-outline text-md rounded bg-blue-500 p-1 px-4 py-2 text-white shadow hover:bg-blue-400"
        />
    </div>
</form>

{% endblock %}
