{% extends 'base.html' %} {% block header %}
<h1>{% block title %}List of Users{% endblock %}</h1>
{% endblock %} {% block content %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    {% for user in users %}
    <tr>
        <td>{{user.name}}</td>
        <td>{{user.role.name}}</td>
        <td>
            <button
                hx-delete="{{ url_for('user.delete', public_id=user.public_id) }}"
                hx-confirm="Really delete this account?"
                hx-target="closest tr"
            >
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </td>
    </tr>
    {% endfor %}
</table>
<h2>Create User</h2>
<form method="post">
    <label for="username">Username</label>
    <input name="username" required />
    <label for="pasword">Password</label>
    <input name="password" type="password" required />
    <select name="role" required>
        {%for role in roles%}
        <option value="{{role.name}}">{{role.name}}</option>
        {%endfor %}
    </select>
    <input type="submit" value="Create User" />
</form>

{% endblock %}
